.container {
  display: flex;
  gap: 2rem;
  height: 5rem;
  background-color: lightblue;
  align-items: center;
}
.container a {
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 0 2rem;
}
.container a:nth-child(4) {
  flex-grow: 1;
  text-align: end;
}
.container button {
  height: 3rem !important;
  border-radius: none !important;
  width: 7rem !important;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1rem;
}
